.App {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.CubeContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}

#steps-content {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  height: 10%;
  bottom: 11%;
  color: aliceblue;
}
.CubeButtons {
  padding: 0 16px;
  position: absolute;
  bottom: 0;
  height: 10%;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.CubeButtons button {
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid black;
  background: #a7d129;
}

.CubeButtons button+button {
  margin-left: 20px;
}